* {
  margin: 0px;
  padding: 0px;
}

.navegador {
  background-color: #3a1c0e;
}
.navegador .logofoto img {
  border: 0px;
  margin: 0px;
  width: 80px;
  height: 80px;
}
.navegador h5 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel img {
  height: 600px;
}

.sec-tarjet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sec-tarjet .tarjetas {
  margin: 20px;
  border: solid 3px;
  border-color: #3a1c0e;
  width: 50%;
  height: auto;
  align-items: center;
}
.sec-tarjet .tarjetas h1 {
  font-size: 30px;
  text-align: center;
}
.sec-tarjet .tarjetas h2 {
  font-size: 30px;
  text-align: center;
}
.sec-tarjet .tarjetas p {
  font-size: 20px;
  text-align: center;
}
.sec-tarjet .tarjetas img {
  width: 100%;
  height: 300px;
}

hr {
  border: solid 1px;
}

.caru h5 {
  font-size: 35px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #e3ee48;
}
.caru p {
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #e3ee48;
}

.tarjecompras {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  height: 700px;
}
.tarjecompras .tarj {
  border: solid #3a1c0e 3px;
  text-align: center;
}
.tarjecompras .tarj h1 {
  font-size: 25px;
}
.tarjecompras .tarj1 img {
  width: 100%;
  height: 50%;
}
.tarjecompras .tarj1 button {
  width: 100px;
  height: 40px;
  background-color: rgb(11, 107, 197);
  color: white;
  border: 0px;
  border-radius: 50px;
  margin-bottom: 5px;
}
.tarjecompras .tarj2 button {
  width: 100px;
  height: 40px;
  background-color: rgb(11, 107, 197);
  color: white;
  border: 0px;
  border-radius: 50px;
  margin-bottom: 5px;
}
.tarjecompras .tarj2 img {
  height: 45%;
  width: 100%;
}

.paquetes {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.paquetes button {
  border-radius: 50px;
  background-color: rgb(11, 107, 197);
}
.paquetes .paq {
  text-align: center;
  margin: 5px;
}

.cafes {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  margin: 60px;
}

.contacto h1 {
  font-size: 50px;
  margin-top: 140px;
  background-color: #3a1c0e;
  height: 60px;
  color: white;
}

.formulario {
  border: solid #3a1c0e 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  height: 200px;
  margin-top: 40px;
  margin-left: 40px;
  background-color: #ade2e9;
}
.formulario .nombre {
  color: #2f0377;
  text-decoration: underline;
}
.formulario .email {
  color: #2f0377;
  text-decoration: underline;
}
.formulario .telefono {
  color: #2f0377;
  text-decoration: underline;
}
.formulario .consulta {
  color: #2f0377;
  text-decoration: underline;
  overflow: auto;
}
.formulario form textarea {
  width: 20%;
  height: 30%;
  margin-top: 50px;
  padding: 10px;
  text-align: left;
}

.map {
  margin: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.galeria {
  display: grid;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas: "im1 im1 im2 im2" "im1 im1 im3 im4" "im5 im6 im6 im7" "im5 im6 im6 im7";
}
.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria .im1 {
  grid-area: im1;
}
.galeria .im2 {
  grid-area: im2;
}
.galeria .im3 {
  grid-area: im3;
}
.galeria .im4 {
  grid-area: im4;
}
.galeria .im5 {
  grid-area: im5;
}
.galeria .im6 {
  grid-area: im6;
}
.galeria .im7 {
  grid-area: im7;
}

.pie p {
  color: grey;
  font-size: 15px;
  text-align: center;
}
.pie img {
  width: 12%;
  height: 12%;
  margin-left: 30px;
  margin-right: 30px;
}
.pie .pie-logos {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .sec-tarjet {
    height: 50%;
    width: 100%;
  }
  .formulario {
    width: 60%;
  }
  .galeria {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .map {
    width: 50%;
  }
  .formulario {
    width: 50%;
  }
  .galeria {
    width: 50%;
  }
}
@media (max-width: 870px) {
  .sec-tarjet {
    width: 100%;
    height: 50%;
    overflow: scroll;
  }
  .tarj {
    overflow: scroll;
  }
  .cafes {
    height: 500px;
    width: 100%;
    overflow: scroll;
    justify-content: flex-start;
    margin-left: 0%;
  }
  .formulario {
    width: 600px;
  }
  .formulario textarea {
    width: 100px;
    height: 20px;
  }
  .galeria {
    width: 100%;
  }
  .map {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
