.pie{    
    p{
        color: grey;
        font-size: 15px;
        text-align: center;
    }
    img{
        width: 60px;
        height: 60px;
        margin-top: 40px;
    }
    .pie-logos{
        display: flex;
        justify-content: space-between;
        a img{
            width: 60px;
            height: 60px;
            margin-top: 40px;
        }      
    }
}