@media (max-width: 300px){
    .map iframe{
        width: 290px;
        height: 290px;
        text-align: left;
        margin: 0px;
    }
}
@media (max-width: 576px){
    .sec-tarjet{
        .tarjetas{
            width: 90%;
            height: 400px;
            overflow: scroll;
        }
    }
    .map iframe{
        width: 50%;
        height: 50%;
        margin-left: 1px;
        text-align: left;
    }
    .galeria{
        width: 50%;
    }
}
@media (max-width: 870px){
    .sec-tarjet{
        .tarjetas{
            width: 90%;
            height: 500px;
            overflow: scroll;
        }
    }
    .tarj{
        overflow: scroll;
    }
    .cafes{
        height: 500px;
        width: 100%;
        overflow: scroll;
        justify-content: flex-start;
        margin-left: 0%;
    }
    .galeria{
        width: 100%;
    }
    .map iframe{
        width: 500px;
        height: 500px;
        margin-left: auto;
        text-align: start;
    }
    .pie-logos a img{
            width: 20px;
            height: 20px;
            margin-top: 20px;
    }
}