.tarjecompras{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    height: 700px;
    .tarj{
        border: solid $color 3px;
        text-align: center;
        h1{
            font-size: 25px;
        }
    }
    .tarj1{
        img{
            width: 100%;
            height: 50%;
        }
        button{
            width: 100px;
            height: 40px;
            background-color: $boton;
            color: white;
            border: 0px;
            border-radius: 50px;
            margin-bottom: 5px;
        }
    }
    .tarj2{
        button{
            width: 100px;
            height: 40px;
            background-color: $boton;
            color: white;
            border: 0px;
            border-radius: 50px;
            margin-bottom: 5px;
        }
        img{
            height: 45%;
            width: 100%;
        }   
    }
}
.paquetes{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button{
        border-radius: 50px;
        background-color: $boton;
    }
    .paq{
        text-align: center;
        margin: 5px;
    }
}